In [1]:
print("Hello, World!")

Hello, World!

In [5]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [7]:
if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block after 'if' statement on line 1 (3793329317.py, line 2)

In [9]:
if 5 > 2:
 print("Five is greater than two!")  
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [11]:
if 5 > 2:
 print("Five is greater than two!") 
        print("Five is greater than two!")

IndentationError: unexpected indent (3772748168.py, line 3)

In [15]:
x = 5
y = "Hello, World!"

print(x)
print(y)

5
Hello, World!

In [17]:
#This is a comment.
print("Hello, World!")

Hello, World!

In [19]:
print("Hello, World!") #This is a comment

Hello, World!

In [21]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [23]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [25]:
"""
This is a comment
written in 
more than just one line
"""
print("Hello, World!")

Hello, World!

In [27]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [29]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [33]:
x = str(3)
y = int(3)
z = float(3)

print(x)
print(y)
print(z)

3
3
3.0

In [35]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [37]:
x = "John"
print(x)
#double quotes are the same as single quotes:
x = 'John'
print(x)

John
John

In [39]:
a = 4
A = "Sally"

print(a)
print(A)

4
Sally

In [41]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"


print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

In [43]:
2myvar = "John"
my-var = "John"
my var = "John"

#This example will produce an error in the result

SyntaxError: invalid decimal literal (572757219.py, line 1)

In [45]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [47]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [49]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [51]:
x = "Python is awesome"
print(x)

Python is awesome

In [53]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [55]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [57]:
x = 5
y = 10
print(x + y)

15

In [59]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [61]:
x = 5
y = "John"
print(x, y)

5 John

In [63]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [65]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [67]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [69]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [71]:
x = 5
print(type(x))

<class 'int'>

In [73]:
x = "Hello World"

#display x:
print(x)

#display the data type of x:
print(type(x))

Hello World
<class 'str'>

In [75]:
x = 20

#display x:
print(x)

#display the data type of x:
print(type(x))

20
<class 'int'>

In [77]:
x = 20.5

#display x:
print(x)

#display the data type of x:
print(type(x))

20.5
<class 'float'>

In [79]:
x = 1j

#display x:
print(x)

#display the data type of x:
print(type(x))

1j
<class 'complex'>

In [81]:
x = ["apple", "banana", "cherry"]

#display x:
print(x)

#display the data type of x:
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [83]:
x = ("apple", "banana", "cherry")

#display x:
print(x)

#display the data type of x:
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [85]:
x = range(6)

#display x:
print(x)

#display the data type of x:
print(type(x))

range(0, 6)
<class 'range'>

In [87]:
x = {"name" : "John", "age" : 36}

#display x:
print(x)

#display the data type of x:
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [89]:
x = {"apple", "banana", "cherry"}

#display x:
print(x)

#display the data type of x:
print(type(x))

{'apple', 'banana', 'cherry'}
<class 'set'>

In [91]:
x = frozenset({"apple", "banana", "cherry"})

#display x:
print(x)

#display the data type of x:
print(type(x))

frozenset({'apple', 'banana', 'cherry'})
<class 'frozenset'>

In [93]:
x = True

#display x:
print(x)

#display the data type of x:
print(type(x))

True
<class 'bool'>

In [95]:
x = b"Hello"

#display x:
print(x)

#display the data type of x:
print(type(x))

b'Hello'
<class 'bytes'>

In [97]:
x = bytearray(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [99]:
x = memoryview(bytes(5))

#display x:
print(x)

#display the data type of x:
print(type(x))

<memory at 0x1282d53c0>
<class 'memoryview'>

In [101]:
x = None

#display x:
print(x)

#display the data type of x:
print(type(x))

None
<class 'NoneType'>

In [103]:
x = 1
y = 2.8
z = 1j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [105]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [107]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [109]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [111]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [113]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [115]:
import random

print(random.randrange(1, 10))

8

In [117]:
x = int(1)
y = int(2.8)
z = int("3")
print(x)
print(y)
print(z)

1
2
3

In [119]:
x = float(1)
y = float(2.8)
z = float("3")
w = float("4.2")
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [121]:
x = str("s1")
y = str(2)
z = str(3.0)
print(x)
print(y)
print(z)

s1
2
3.0

In [123]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [125]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [127]:
a = "Hello, World!"
print(a[1])

e

In [129]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [131]:
a = "Hello, World!"
print(len(a))

13

In [133]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [135]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [137]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [139]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [141]:
b = "Hello, World!"
print(b[2:5])

llo

In [143]:
b = "Hello, World!"
print(b[:5])

Hello

In [145]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [147]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [149]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [151]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [153]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [155]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [157]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [159]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [161]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [163]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [165]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [167]:
price = 59 
txt = f"The price is {price} dollars" 
print(txt)

The price is 59 dollars

In [169]:
price = 59 
txt = f"The price is {price:.2f} dollars" 
print(txt)

The price is 59.00 dollars

In [171]:
txt = f"The price is {20 * 59} dollars" 
print(txt)

The price is 1180 dollars

In [173]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (7934146.py, line 1)

In [177]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [179]:
txt = 'It\'s alright.'
print(txt)

It's alright.

In [181]:
txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

In [183]:
txt = "Hello\nWorld!"
print(txt)

Hello
World!

In [186]:
txt = "Hello\rWorld!"
print(txt)

World!

In [188]:
txt = "Hello\tWorld!"
print(txt)

Hello	World!

In [190]:
#This example erases one character (backspace):
txt = "Hello \bWorld!"
print(txt)

HelloWorld!

In [192]:
#A backslash followed by three integers will result in a octal value:
txt = "\110\145\154\154\157"
print(txt)

Hello

In [194]:
#A backslash followed by an 'x' and a hex number represents a hex value:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello